Flask==2.2.2
requests==2.28.1
jsonify==0.5
torch==1.12.1
spacy==3.2.0
numpy==1.21.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
gunicorn==20.1.0
