<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">

<head>
    <meta charset="UTF-8">
    <title>ChatBot</title>
</head>

<body>
    <div class="container">
        <div class="backimg">
            <img src="/static/background.png"alt="image">
        </div>
        <div class="chatbox">
            <div class="panel">
                <div class="chatbox-head">
                    <div class="icon-head">
                        <img src="/static/icon.png"
                            alt="image">
                    </div>
                    <div class="botname-head">
                        <h4 class="botname">Symptom Diagnosis Bot</h4>
                    </div>
                </div>
                <div class="messages">
                    <div></div>
                </div>
                <div class="chatbox-input">
                    <input type="text" class ="input-text" placeholder="Type your message">
                    <button class="chatbox-send send-button">Enter</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/app.js"></script>

</body>

</html>

